In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

from db_utils import load_creds as lc
from db_utils import RDSDatabaseConnector 
from db_converter import DataConverter
from db_info import DataFrameInfo
from db_plot import Plotter
from db_transform import DataFrameTransform

In [3]:
connector = RDSDatabaseConnector
creds = lc('credentials.yaml')
db_connector = connector(**creds)
db_connector.initialize_engine()
df = db_connector.extract_data()

In [4]:
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,None,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,None,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

In [5]:

converter = DataConverter(df)
info = DataFrameInfo(df)
transformer = DataFrameTransform(df)

In [6]:
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,None,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,None,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL

In [7]:
df_converted = converter.convert_to_categorical()
df_converted = converter.convert_to_datetime()
df_converted = converter.convert_to_float()
df_converted = converter.convert_to_object()

In [8]:
transformer.df = df_converted
skewed_columns = transformer.run_data_transformation_pipeline()

Checking for missing values:
Missing Values:
funded_amount                   5.544799
term (months)                   8.799395
int_rate                        9.531449
employment_length (years)       3.905515
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
last_payment_date               0.134609
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
dtype: float64

Dropping columns with >50% missing values:
Imputation of missing values:
Identifying skewed columns:
Skewed Columns: Index(['collection_recovery_fee', 'recoveries', 'total_rec_late_fee',
       'annual_inc', 'last_payment_amount', 'out_prncp_inv', 'out_prncp',
       'total_rec_int', 'total_payment', 'total_rec_prncp',
       'total_payment_inv'],
      dtype='object')

In [9]:
summary_df = info.summarize()
summary_df

,columns,data_types,mean,median,std_dev,unique_values,nulls,null_percentage
0,id,object,N/A,N/A,N/A,54231,0,0.000000
1,member_id,object,N/A,N/A,N/A,54231,0,0.000000
2,loan_amount,float64,13333.0761,12000.0,8082.196709,N/A,0,0.000000
3,funded_amount,float64,13161.335306,12000.0,7798.601691,N/A,0,0.000000
4,funded_amount_inv,float64,12952.622979,11300.0,8099.473527,N/A,0,0.000000
5,term (months),category,N/A,N/A,N/A,2,0,0.000000
6,int_rate,float64,13.474223,13.16,4.179539,N/A,0,0.000000
7,instalment,float64,400.013953,347.15,238.920012,N/A,0,0.000000
8,grade,category,N/A,N/A,N/A,7,0,0.000000
9,sub_grade,category,N/A,N/A,N/A,35,0,0.000000
10,employment_length (years),category,N/A,N/A,N/A,11,0,0.000000
11,home_ownership,category,N/A,N/A,N/A,5,0,0.000000
12,annual_inc,float64,72220.848249,61000.0,51589.339577,N/A,0,0.000000
13,verification_status,category,N/A,N/A,N/A,3,0,0.000000
14,issue_date,datetime64[ns],N/A,N/A,N/A,N/A,0,0.000000
15,loan_status,category,N/A,N/A,N/A,9,0,0.000000
16,payment_plan,category,N/A,N/A,N/A,2,0,0.000000
17,purpose,category,N/A,N/A,N/A,14,0,0.000000
18,dti,float64,15.867087,15.6,7.623124,N/A,0,0.000000
19,delinq_2yrs,category,N/A,N/A,N/A,16,0,0.000000
20,earliest_credit_line,datetime64[ns],N/A,N/A,N/A,N/A,0,0.000000
21,inq_last_6mths,category,N/A,N/A,N/A,24,0,0.000000
22,open_accounts,category,N/A,N/A,N/A,48,0,0.000000
23,total_accounts,category,N/A,N/A,N/A,88,0,0.000000
24,out_prncp,float64,2753.964172,0.0,5154.893646,N/A,0,0.000000
25,out_prncp_inv,float64,2752.568147,0.0,5153.043643,N/A,0,0.000000
26,total_payment,float64,12079.20848,10113.25,8391.043845,N/A,0,0.000000
27,total_payment_inv,float64,11788.946618,9835.83,8363.508506,N/A,0,0.000000
28,total_rec_prncp,float64,9407.048589,7644.92,6958.124264,N/A,0,0.000000
29,total_rec_int,float64,2577.757101,1734.64,2581.657345,N/A,0,0.000000
30,total_rec_late_fee,float64,0.901512,0.0,6.215792,N/A,0,0.000000
31,recoveries,float64,93.501288,0.0,630.843636,N/A,0,0.000000
32,collection_recovery_fee,float64,10.859057,0.0,120.19395,N/A,0,0.000000
33,last_payment_date,datetime64[ns],N/A,N/A,N/A,N/A,73,0.134609
34,last_payment_amount,float64,3130.706393,562.67,5323.801675,N/A,0,0.000000
35,last_credit_pull_date,datetime64[ns],N/A,N/A,N/A,N/A,7,0.012908
36,collections_12_mths_ex_med,category,N/A,N/A,N/A,5,0,0.000000
37,policy_code,category,N/A,N/A,N/A,1,0,0.000000
38,application_type,category,N/A,N/A,N/A,1,0,0.000000

In [10]:
missing_values_after = transformer.run_data_transformation_pipeline()
print("Missing Values After Imputation:\n", missing_values_after)

Checking for missing values:
Missing Values:
last_payment_date        0.134609
last_credit_pull_date    0.012908
dtype: float64

Dropping columns with >50% missing values:
Imputation of missing values:
Identifying skewed columns:
Skewed Columns: Index(['collection_recovery_fee', 'recoveries', 'total_rec_late_fee',
       'annual_inc', 'last_payment_amount', 'out_prncp_inv', 'out_prncp',
       'total_rec_int', 'total_payment', 'total_rec_prncp',
       'total_payment_inv'],
      dtype='object')

Missing Values After Imputation:
 Index(['collection_recovery_fee', 'recoveries', 'total_rec_late_fee',
       'annual_inc', 'last_payment_amount', 'out_prncp_inv', 'out_prncp',
       'total_rec_int', 'total_payment', 'total_rec_prncp',
       'total_payment_inv'],
      dtype='object')

In [11]:
plotter = Plotter()
plotter.create_pdf('Source_Files/visualisations_nb.pdf')
plotter.plot_missing_values(transformer.df)
if not skewed_columns.empty:
    for column in skewed_columns:
        plotter.plot_histogram(transformer.df, column, title=f"Before Transformation: {column}")
        plt.show()

    data_frame = transformer.transform_skewed_columns() 

    for column in skewed_columns:
        plotter.plot_histogram(data_frame, column, title=f"After Transformation: {column}")
        plt.show()

plotter.close_pdf()

Skewed columns after filtering: ['collection_recovery_fee', 'recoveries', 'total_rec_late_fee', 'annual_inc', 'last_payment_amount', 'out_prncp_inv', 'out_prncp', 'total_rec_int', 'total_payment', 'total_rec_prncp', 'total_payment_inv', 'instalment', 'funded_amount', 'funded_amount_inv', 'loan_amount']
Existing columns in DataFrame: ['id', 'member_id', 'loan_amount', 'funded_amount', 'funded_amount_inv', 'term (months)', 'int_rate', 'instalment', 'grade', 'sub_grade', 'employment_length (years)', 'home_ownership', 'annual_inc', 'verification_status', 'issue_date', 'loan_status', 'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line', 'inq_last_6mths', 'open_accounts', 'total_accounts', 'out_prncp', 'out_prncp_inv', 'total_payment', 'total_payment_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_payment_date', 'last_payment_amount', 'last_credit_pull_date', 'collections_12_mths_ex_med', 'policy_code', 'application_type']
Transforming collection_recovery_fee with skewness: 27.63684310809756
Transformation complete for collection_recovery_fee.
Transforming recoveries with skewness: 14.58979334668037
Transformation complete for recoveries.
Transforming total_rec_late_fee with skewness: 13.184304523859357
Transformation complete for total_rec_late_fee.
Transforming annual_inc with skewness: 8.711831033809583
Transformation complete for annual_inc.
Transforming last_payment_amount with skewness: 2.4993811438984834
Transformation complete for last_payment_amount.
Transforming out_prncp_inv with skewness: 2.3568475131007687
Transformation complete for out_prncp_inv.
Transforming out_prncp with skewness: 2.356426188671512
Transformation complete for out_prncp.
Transforming total_rec_int with skewness: 2.204322035306792
Transformation complete for total_rec_int.
Transforming total_payment with skewness: 1.267890957776937
Transformation complete for total_payment.
Transforming total_rec_prncp with skewness: 1.2610146774673532
Transformation complete for total_rec_prncp.
Transforming total_payment_inv with skewness: 1.256196603509513
Transformation complete for total_payment_inv.
Transforming instalment with skewness: 0.9969813991920319
Transformation complete for instalment.
Transforming funded_amount with skewness: 0.8699218016852919
Transformation complete for funded_amount.
Transforming funded_amount_inv with skewness: 0.8139274222318484
Transformation complete for funded_amount_inv.
Transforming loan_amount with skewness: 0.8052592257800115
Transformation complete for loan_amount.